<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<nav class="navbar navbar-default navbar-expand-lg">
    <div class="container row">
        <div class="col-md-6">
            <img src="../../assets/image.jpg" height="35px" width="20px">
            <span style="margin-right: 10px;"></span>
            <span class="title" routerLink="user" routerLinkActive="active"> <a>Git Search</a></span>
        </div>
        <div class="col-md-6"></div>
    </div>
</nav>